<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket Client</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <section class="chat_wrapper">
      <div class="brand_name">
        <h1 id="heading">Welcome to the socket room.</h1>
      </div>
      <div id="message_area"></div>
      <form action="" id="form">
        <input type="text" id="input_box" placeholder="Write Your Message" />
      </form>
      <p id="activity"></p>
    </section>

    <script src="../chat.js"></script>
  </body>
</html>
